# Compiled python modules
*.pyc

# vscode setting files
.vscode

# Local Python virtual environment
venv/

# Setuptools distribution folder.
build/
dist/
*.egg-info

# Temporary local files
.ipynb_checkpoints
.DS_Store

# Testing Files

.pytest_cache
Testing.ipynb

# Development scripts

docs/
update_docs.sh